

/* ============================================================
   HOW TO USE
   color: var(--clr-base-soft);
   ============================================================ */

:root {
  --clr-primary:        #4f46e5;
  --clr-primary-dim:    #312e81;
  --clr-primary-soft:   #818cf8;
  --clr-primary-ghost:  #e2e6f6;

  --clr-dark:        #1e1b4b;
  --clr-dark-dim:    #4b5563;
  --clr-dark-soft:   #9ca3af;
  --clr-light:  #ffffff;



  --clr-success:        #068e62;
  --clr-success-ghost:  #d1fae5;
  --clr-warning:        #d97706;
  --clr-warning-ghost:  #fef3c7;
  --clr-error:          #bd1d1d;
  --clr-error-ghost:    #fee2e2;
}



*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}
